.Questions{
    text-align: left;
    margin: 0% 0% 0% 5%;
  }
  h1{
    color:purple;
  }
  .answer{
    display: contents;
    color:red;
  }
  .intro{
    font-size: 20px;
    margin:4px 0px 0px 0px;
  }
  #vinay{
    color:blue;
  }
  #amit{
    color:magenta;
  }
  .link{
      
      font-size: 14px;
      font-weight: 4;
      background-color:black;
      margin-left: 10px;
      padding: 10px;

  }
  .link a{
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
  #navbarScrollingDropdown{
      color: white;
  }
  .homelink nav-link a{
      color:white !important;
  }
  .me-auto my-2 my-lg-0 navbar-nav navbar-nav-scroll a{
      color: white;
  }
  .headings{
    text-align: center !important;
    margin:2% 2%;
  }
.background{
    height: 655px;
    background: rgb(0,36,4);
    background: linear-gradient(90deg, rgba(0,36,4,1) 0%, rgba(13,101,90,1) 0%, rgba(121,9,102,0.9164040616246498) 0%, rgba(237,4,220,1) 0%, rgba(66,48,230,0.92) 39%, rgba(0,224,255,1) 73%);
  }
  .userdata{
    padding-top: 15%;
  }
.userdata table{
    margin: auto;
    border-radius: 16px;
    background-color: white;
    height: 250px;
    width: 28%;
  }
.userdata table tr {
    text-align: center;
}
.userdata table tr td input{
    border-radius: 5px;
}
.userdata table tr td button{
    border: none;
    background-color: lawngreen;
    padding: 7px 20px;
    /* text-align: center; */
    /* margin: auto; */
    margin-left: 120%;
    border-radius: 20px;
}
.avtar_img{
    margin-left: 110%;
    text-align: center;
    height: 80px;
    width: 90px;
}
.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap {
    height:600px !important;
}

.translatelanguage{
  display: flex;
  text-align: center;
  margin: 0% 35%;
}
.translatelanguage tr{
  margin:0% 1%;
}
.InputValue textarea{
  text-align: center;
  width: 60%;
  margin: 1% 0%;
}
.outputValue textarea{
  text-align: center;
  width: 60%;
  margin: 1% 0%;
}
.translate_button{
  text-align: center;
}
.translate_button button{
  background-color: aqua;
    border: none;
    padding: 5px 30px;
    color: blue;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.footer_translate{
  background-color:cyan;
  color:black;
  width:100%;
  padding:10px 0px ;
  text-align: end;
  margin-top: 40px;
  display: flex;
  text-align: center;
}
.footer_translate p{
  text-align: center;
  margin-left: 30px;
}
.india_notes{
  background: aliceblue;
}
.india_notes ol li{
  color: black;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .slide-container button{
    display: none !important;
  }
}
.slide-container{
  width:100%;
  background-size: cover !important;
  height:30%;
}
.firstgrid{
      margin: 40px 0px !important;
}
.firstgrid strong{
  color: black;
}
.firstgrid a{
  text-decoration: none !important;
}
.firstgrid p{
  color: black;
}
.firstgrid img{
  display: block;
  margin: auto;
  border-radius: 20px;
  width: 200px;
  height: 140px;
}
.react-slideshow-fadezoom-wrapper{
  height:auto !important;
}
.footer{
  background-color: black;
  color: white;
  padding:10px 0px;
}
.footer p{
  color: white;
  font-weight: 600;
  text-align: center;
}

element.style {
  opacity: 0;
  z-index: 0;
  width: 1349px;
  left: -1349px;
  display: block;
  margin: auto;
  transform: scale(1);
}
.appsidebar{
  flex:1;
  border-right:0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
}
.app_main{
  display: flex;
}
.app_main_containner{
  flex:6;
}
.appsidebar .top{
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.appsidebar .center{
  padding-left: 10px;
}
.appsidebar .center ul{
  margin:0;
  padding: 0;
  list-style: none;
}
.appsidebar .title{
  font-weight: bold;
  font-size:10px;
  color:#999;
  margin-top:15px;
  margin-bottom:5px;

}
.appsidebar li{
  display: flex;
  align-items: center;
  padding: 5px;
  cursor:pointer;
}
.appsidebar li:hover{
  background-color: #ece8ff;
}
.appsidebar .icon{
  font-size: 18px;
  color:#7451f8;
}
.appsidebar span{
  font-size: 13px;
  font-weight: 600;
  color:#888;
  margin-left:10px;
}
.appsidebar .logo{
  font-size: 20px;
  font-weight:bold;
  color:#6439FF;
}
.appsidebar hr{
  height:0;
  border:0.5px solid rgb(230, 227, 227);

}
.appsidebar .bottom{
  display:flex;
  align-items: center;
  margin:10px;

}
.appsidebar .colorOption{
  width:20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #7451f8;
  cursor:pointer;
  margin-left: 10px;
}
.appsidebar .colorOption:nth-child(1){
  background-color: whitesmoke;
}
.appsidebar .colorOption:nth-child(2){
  background-color: #333;
}
.appsidebar .colorOption:nth-child(3){
  background-color: darkblue;
}
.app_navbar{
  height: 5opx;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display:flex;
  align-items: center;
  color:#555;
}
.app_navbar .wrapper{
  display:flex;
  width:100%;
  padding:16px;
  justify-content: space-between;
}
.app_navbar .search{
  display:flex;
  align-items:center;
  border:0.5px solid lightgray;
  padding: 3px;
}
.app_navbar input{
  border:none;
  outline: none;
  background-color: transparent;
}
.app_navbar input ::placeholder{
  font-size: 12px;
}
.app_navbar .items{
  display:flex;
  align-items:center;
}
.app_navbar .items .item{
  display: flex;
  align-items:center;
  margin-right:20px;
  position: relative;
  cursor: pointer;
}
.app_navbar .items .item .avatar{
  width:30px;
  height:30px;
  border-radius: 50%;
}
.app_navbar .items .counter{
  width:15px;
  height:15px;
  background-color: red;
  border-radius: 50%;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top:-5px;
  right:-5px;

}
.app_main .app_main_containner .widgets{
  display: flex;
  padding: 20px;
  gap:20px;
}
.widget{
  display: flex;
  flex:1;
  justify-content: space-between;
  padding:10px;
  -webkit-box-shadow : 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height:100px;
}
.widget .left, .right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.widget .title{
  font-weight: bold;
  font-size: 14px;
  color:rgb(160, 160, 160);
}
.widget .counter{
  font-size:28px;
  font-weight:300;
}
.widget .widget_link{
  width: max-content;
  font-size: 12px;
  border-bottom:1px solid gray;
}
.widget .percentage{
  display:flex;
  align-items: center;
  font-size:14px;
}
.widget .percentage .positive{
  color:green;
}
.widget .percentage .negative{
  color:red;
}
.widget .percentage .icon{
  font-size: 18px;
  padding:5px;
  border-radius:5px;
  align-self: flex-end;
}
.app_main .charts{
  display:flex;
  padding:20px;
  gap:20px;
  padding:5px 20px;
}
.featured{
  flex:2;
  -webkit-box-shadow : 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding:10px;
}
.chart{
  flex:5
}
.featured .top{
  display:flex;
  align-items: center;
  justify-content: space-between;
  color:gray;
}
.featured .title{
  font-size: 16px;
  font-weight: 500;
}
.featured .bottom{
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:15px;
}
.featuredChart{
  width:100px;
  height:100px;
}
.featured .bottom .amount{
  font-size: 30px;
}
.featured .bottom .desc{
  font-weight: 300;
  font-size:12px;
  color:gray;
  text-align:center;
}
.featured .bottom .summary{
  display: flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
}
.featured .bottom .item{
  text-align: center;
}
.featured .bottom .itemTitle{
font-size: 14px;
color:gray;
}
.featured .bottom .itemResult{
  display:flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}
.featured .bottom .itemResult .positive{
  color:green;
}
.featured .bottom .itemResult .negative{
  color:red;
}
.chatApp .Chat_box{
  display:flex;
  background-color: skyblue;
  color:black;
  -webkit-box-shadow : 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47); 
  font-size:20px;
  padding:10px;
  border-radius: 4px;

}
.chatApp .container-fluid{
  display:flex;
}
.chatApp .container-fluid.user_text_side{
  flex-direction: row-reverse;
}
.chatApp .container-fluid.container-fluid.user_text_side .Chat_box{
  background-color: skyblue;
}
.chatApp .container-fluid .chatAvatar{
  width:50px;
  margin:0px 10px 10px 10px;
  height:50px;
  border-radius: 50%;
}
.chatApp .container-fluid .Chat_box{
  background-color: lightcoral;
}
.Chat_message_input{
 display: flex;
  position: fixed;
  width: 100%;
  bottom:0;
}
.chatApp .Chat_message_input input{
  width:90%;
  padding:10px;
  border:0.5px solid;
}
.chatApp .Chat_message_input button{
  width:10%;
  padding:10px;

}
.chatApp .Chat_container{
  height:100%;
  overflow-y: scroll;
  border:1px solid black;
}
@media only screen and (max-width: 600px) {
  .firstgrid{
    margin: 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .react-slideshow-fadezoom-wrapper{
    margin: auto !important;
  }
}
